{{#each this}}
  <li>
    <div>
      <img src="{{this.images}}" alt="" width="180" height="227" />
    </div>
    <h2>{{name}}</h2>
    <p>{{localDate}}</p>
    <p>{{country}}</p>
  </li>
{{/each}}
