<header class="header">
  <div class="border-logo_header">
    <svg class="logo" width="60" height="30">
      <use href="./sprite/symbol-defs.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="container header-container">
    <p class="title-header">FIND BEST EVENTS AROUND THE WORLD</p>
    <ul class="list-input-header">
      <li class="item-input-header">
        <svg class="btn-search" id="search-btn" width="12" height="12">
          <use href="./sprite/symbol-defs.svg#icon-search"></use>
        </svg>
        <input
          class="input-header"
          id="search"
          type="text"
          placeholder="Start searching"
        />
      </li>
      <li class="item-input-header">
        <input
          class="input-header"
          id="country"
          type="text"
          placeholder="Choose country"
        />
        <svg class="btn-search" id="country-btn" width="15" height="40">
          <use href="./sprite/symbol-defs.svg#icon-Polygon"></use>
        </svg>
        <div class="dropdown">
          <ul id="country">

          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
