.backdrop-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background: rgba(32, 13, 29, 0.6);
  z-index: 998;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  height: 915px;
  border-radius: 150px 0px 150px 0px;
  background: rgb(255, 242, 253);
  @media screen and (min-width: 768px) {
    width: 595px;
    height: 831px;
    border-radius: 300px 0px 300px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 930px;
    height: 1023px;
  }
}

.backdrop-modal.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}